<footer>
    <hr>
    <p>
        <a href="https://github.com/hbhatewa" target="_blank">GitHub</a> | 
        <a href="https://webpages.charlotte.edu/hbhatewa/" target="_blank">CLT Web</a> | 
        <a href="https://hbhatewa.github.io/" target="_blank">GitHub.io</a> | 
        <a href="https://www.freecodecamp.org/hbhatewa" target="_blank">freeCodeCamp</a> | 
        <a href="https://www.linkedin.com/in/harsh-bhatewara-57bb9b286/" target="_blank">LinkedIn</a>
    </p>
    <p>
  Page built by
  <a href="harshbhatewaraenterprise.com/">Harsh Bhatewara Enterprise</a>
  <p>Certified in <a href="https://www.freecodecamp.org/certification/hbhatewa/responsive-web-design-v9" target="_blank">Responsive Web Design</a></p>
    </p>

    <script src="https://lint.page/kit/4d0fe3.js" crossorigin="anonymous"></script>

</footer>
